<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="port" value="8080" />
    <add key="db_server" value="192.168.0.106" />
    <add key="db_database" value="wordpress" />
    <add key="db_uid" value="wordpress" />
    <add key="db_pass" value="wordpress" />
    <add key="db_auth_table" value="wp_user_chat_auth" />
    <add key="certificate" value="C:\Users\pesho\source\repos\WSServer\WSServer\bin\Debug\netcoreapp3.1\server.pfx" />
    <add key="certificate_pass" value="1234" />
  </appSettings>
</configuration>