<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="hostname" value="localhost" />
    <add key="port" value="8080" />
    <add key="db_server" value="192.168.0.106" />
    <add key="db_port" value="3306" />
    <add key="db_database" value="wordpress" />
    <add key="db_uid" value="wordpress" />
    <add key="db_pass" value="wordpress" />
    <add key="db_auth_table" value="wp_user_chat_auth" />
  </appSettings>
</configuration>