<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	<add key="port" value="443" />
	<add key="db_server" value="104.131.121.77" />
	<add key="db_database" value="wordpress" />
	<add key="db_uid" value="wordpress" />
	<add key="db_pass" value="e6b8834f6fb47bb1ac3676f934806888d81916264f9334af" />
    <add key="db_auth_table" value="wp_user_chat_auth" />
    <add key="certificate" value="C:\Users\Administrator\Downloads\ws2.pfx" />
    <add key="certificate_pass" value="1234" />
  </appSettings>
</configuration>